

# auth application.yaml
/auth/src/main/resources/application.yaml

# gateway application.yaml
/gateway/src/main/resources/application.yaml

# media application.yaml
/media/src/main/resources/application.yaml

/chats/src/main/resources/application.yaml