deploymentName: chats-deployment
serviceName: chats
appLabel: chats
appName: chats

dataSource:
#  url: jdbc:mysql://chatsdb:3310/chatsdb
  url: jdbc:mysql://accountsdb:3307/accountsdb
  username: root
  password: root

replicaCount: 1

image:
  repository: sontruong02003/chats
  tag: s2

containerPort: 9020

service:
  type: ClusterIP
  port: 9020
  targetPort: 9020

appname_enabled: true
profile_enabled: true
datasource_enabled: true
config_enabled: true
discovery_enabled: true
resouceserver_enabled: false
otel_enabled: false
kafka_enabled: false
database_enabled: false
allwayspull_enabled: true

