deploymentName: notifications-deployment
serviceName: notifications
appLabel: notifications
appName: notifications

dataSource:
#  url: jdbc:mysql://notificationsdb:3311/notificationsdb
  url: jdbc:mysql://accountsdb:3307/accountsdb
  username: root
  password: root

replicaCount: 1

image:
  repository: sontruong02003/notifications
  tag: s2

containerPort: 9030

service:
  type: ClusterIP
  port: 9030
  targetPort: 9030

appname_enabled: true
profile_enabled: true
datasource_enabled: true
config_enabled: true
discovery_enabled: true
resouceserver_enabled: false
otel_enabled: false
kafka_enabled: false
database_enabled: false
allwayspull_enabled: true
